    <main>
        <div class="profile">
            <div class="user-banner"></div>
            <div class="profile-picture-container">
                <div class="profile-image-container">
                    <img src="https://images.britcdn.com/wp-content/uploads/2016/01/krista.jpg?fit=crop&w=200?auto=format&w=600">
                </div>
                <div class="profile-social-container">
                    <div>FOLLOW ON SOCIAL</div>
                    <div class="profile-links-container">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <div class="profile-info-container">
                <div class="profile-name">Krista Gray</div>
                <hr>
                <p class="profile-intro">Krista Gray is a web producer and freelance writer who lives in San Francisco. When she's not working with clients through her company GoldSquare, she loves reading, traveling, and learning new things.</p>
            </div>
        </div>
        <div class="posts">
        {{#each posts}}
      {{> postCard}}
        {{/each}}
        </div>


    </main>

    <button type="button" id="post-button"><i class="fas fa-arrow-alt-circle-up"></i></button>

    <div id="modal-backdrop" class="hidden"></div>
    <div id="post-something-modal" class="hidden">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Add New Post</h3>
                <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
            </div>
            <div class="modal-body">
                <div class="post-input-element">
                    <label for="post-title-input">Post Title</label>
                    <input type="text" id="post-title-input"></input>
                </div>
                <div class="post-input-element">
                    <label for="post-image-input">Image URL</label>
                    <input type="text" id="post-image-input">
                </div>
                <div class="post-input-element">
                    <label for="post-theme-input">Theme</label>
                    <input type="text" id="post-theme-input">
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
                    <button type="button" id="modal-accept" class="action-button">Create Post</button>
                </div>
            </div>
        </div>
    </div>